

<%= form_for @recipe, :html => {:multipart => true} do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-md-6">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= image_tag(@recipe.img_url, :width => 200) if @recipe.img.present? %>
 
  </div>
  <div class="field">
         <div class="fileUpload btn" >
          <span>Upload</span>
          <%= f.file_field :img, :class => 'upload' %>
  </div>    
  </div>    
  
<div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :description %>
  </div>
</div>
<div class="col-md-6">
 <%= f.label :Ingredients %><br>
  <div id="items">
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <%= link_to_add_association '<i class="fa fa-plus-square-o"></i>add ingredient'.html_safe , f, :ingredients %>
  </div>
  
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_area :direction %>
  </div>
</div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
