<p id="notice"><%= notice %></p>



<h1>  <%= @recipe.title %></h1> 


 <%= image_tag(@recipe.img_url, :width => 600) if @recipe.img.present? %>

<p>
  <%= @recipe.description %>
</p>

<ul>
 <%- @recipe.ingredients.each do |ingredient| %>
          <li><%= li= ingredient.item %></li>
  <% end %>
</ul>


<p>
  <strong>Direction:</strong>
  <%= @recipe.direction %>
</p>

 


<%= link_to 'Edit', edit_recipe_path(@recipe) %> | 
<%= link_to 'Destroy', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', recipes_path %>
